  a:link, a:visited {
    background-color: #00000013;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(0, 0, 0);
  }

  /* Navbar */
.navbar-brand {
  padding:0%;
}

#navbarNav {
  justify-content: center;
  padding-right: 70px;
}

.navbar-light .navbar-nav .nav-link.active {
  color: whitesmoke;
  background-color: rgb(255, 247, 247);
}

/* Text Customization */
h1{
  text-align:center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif,;
  font-size: 40px;
  font-weight: 90px;
  color: rgb(255, 255, 255);
}

h2{
  text-align: center;
  font-weight:bolder;
  font-family: 'Raleway', sans-serif; 
  font-size: 70px;
  color: rgba(136, 2, 118, 0.931);
}

h3
{text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

h4
{text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size:35px;
  color: rgb(255, 255, 255);
}

p 
{font-family: 'Raleway', sans-serif;}

h5
{text-align: center;
  font-family: monospace;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

h6
{text-align: center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  font-size:35px;
  color: rgba(136, 2, 118, 0.931);
}

/* Socials */
.fa {
  padding: 0px;
  font-size: 30px;
  width: 10px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin: 9px 9px;
  border-radius: 90%;
}

.fa:hover {
    opacity: 0.4;
}

/* About Page */
#Abowwt{
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.5)), url(/img-es/blur3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    backface-visibility:visible;
    background-size: 100% 100%;
  }

#W-E{
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.4)), url(/www.png);
  background-attachment: fixed; 
  backface-visibility:visible;
  background-size: 100% 100%;
}

#Projekt{
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.5)), url(/img-es/blur3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  backface-visibility:visible;
  background-size: 100% 100%;
}

#Testies{
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.4)), url(/www.png);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  backface-visibility:visible;
  background-size: 100% 100%;
}

.button {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 9px 9+px;
  cursor: pointer;
}

.button
 {border-radius: 50%;
  margin-left: 300px;
}

.row{
  align-items: center;
}

.Edu{border-left: white 5px solid;}

li{
  color:white;
  text-decoration-color: white;
}

p {
  color: white;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #090b0c;
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
}

.card-body {
  background-color: black;
}

.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 23.7%;
}

.cardBox:hover .card {
  transform: rotateY( 180deg);
}

.card {
  background: #222;
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  transform: rotateY( 180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background: #333;
}

.cardBox:nth-child(2) .card .back {
  background: #333;
}

.cardBox:nth-child(3) .card .back {
  background: #333;
}

.cardBox:nth-child(4) .card .back {
  background: #333;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  
  to {
    transform: rotateY( 0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    
    width: 46%;
  }

  .card {
    height: 285px;
  }

  .cardBox:last-child {
    margin-bottom: 3%;
  }
}